
<body class="login vh-100">
<div class="container vh-100">
<div class="row justify-content-center align-items-center vh-100">
<div class="col-md-4">

<h2 class="text-center py-3">Log in</h2>

<div class="myform p-4 border border-2 bg-white">
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field ">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mb-3" %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control mb-2" %>
    </div>
  
    <div class="wraped d-flex  mb-3">
      <% if devise_mapping.rememberable? %>
      <div class="actions">
      <%= f.submit "Log in", class:"btn btn-primary " %>
    </div>
        <div class="field  ms-auto">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me  %>
        </div>
      <% end %>
  
        <% end %>
    </div>
  <span class="small-text">
    
    <%= render "devise/shared/links" %>
  </span>
</div>



</div>
</div>
</div>
</body>